<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .jumbotron {
            padding: 0.5em 0.6em;
        }

        form.example input[type=text] {
            padding: 10px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 80%;
            background: #f1f1f1;
        }

        form.example button {
            float: left;
            width: 10%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

        form.example button:hover {
            background: white;
        }

        form.example::after {
            content: "";
            clear: both;
            display: table;
        }

        h2 {
            color: white;
        }
        .metadata-detail{
            cursor: pointer;
        }
    </style>
</head>

<body>
    <header class="main-header">
        <!-- navbar -->
        <nav class="navbar navbar-toggleable-md bg-info navbar-inverse">
            <div class="container">
                <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="row">
                    <div class="col-md-6 mb-6">
                        <h2>Nature's Palette</h2>
                    </div>

                    <div class="col-md-6 mb-6">
                        <div class="collapse navbar-collapse" id="mainNav">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link" href="/">Home</a>
                                <a class="nav-item nav-link active" href="/search">Search</a>
                                <a class="nav-item nav-link" href="/submission">Upload</a>
                                <a class="nav-item nav-link" href="#">Join</a>
                                <a class="nav-item nav-link" href="#">About</a>
                                <a class="nav-item nav-link" href="#">Help</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <form action="search" method="POST">

            <div class="row">
                <div class="col">
                    <input class="form-control" name="search" type="text" placeholder="Keywords..">
                </div>
                <div class="col-lg-3">
                        <a href="#demo2" class="" data-toggle="collapse">Advance Search</a>
                        <button type="submit" class="btn btn-primary">Submit</button>


                    </div>
            </div>

            <div class="row">
                <div class="container">

                    <div id="demo2" class="collapse mt-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row " style="display:flex; justify-content: right">

                                    <div class="col-md-12  order-md-1">

                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <input type="text" class="form-control" id="institutioncode"
                                                    placeholder="Institution code" value="" name="institutionCode">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <input type="text" class="form-control" id="collectioncode"
                                                    name="collectionCode" placeholder="Collection code" value="">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <input type="text" class="form-control" id="catalogueno"
                                                    name="catalogNumber" placeholder="Catalogue Number" value="">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <input type="text" class="form-control" id="class" placeholder="Class"
                                                    value="" name="className">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <input type="text" class="form-control" id="order" placeholder="Order"
                                                    value="" name="order">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <input type="text" class="form-control" id="family" placeholder="Family"
                                                    name="family" value="">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <input type="text" class="form-control" id="genus" placeholder="Genus"
                                                    name="genus" value="">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <input type="text" class="form-control" id="specificEpithet"
                                                    name="specificEpithet" placeholder="Specific Epithet" value="">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <input type="text" class="form-control" id="infraspecificEpithet"
                                                    name="infraspecificEpithet" placeholder="Infraspecific Epithet"
                                                    value="">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <input type="text" class="form-control" id="sex" placeholder="Sex"
                                                    name="sex">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <input type="text" class="form-control" id="lifestage"
                                                    placeholder="Life Stage" name="lifeStage" value="">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <input type="text" class="form-control" id="country"
                                                    placeholder="Country" name="country" value="">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <input type="text" class="form-control" id="patch" placeholder="Patch"
                                                    value="" name="patch">
                                            </div>
                                            <div class="col-md-4 mb-3">

                                            </div>
                                            <div class="col-md-4 mb-3">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>

    <% if (listVisible) { %>
    <div class="container mt-3">
        <div id="demo">
            <hr>
            <h5>Refine Search by</h5>
            <div class="row">
                <div class="col">
                    <a href="#" class="btn btn-primary btn-sm mb-3">Georeferencing</a>
                    <a href="#" class="btn btn-primary btn-sm mb-3">Color Space</a>
                    <div class="pull-right">
                        <span><%= metadataList.length %> Results found </span>
                            <button id="showDownloadModal"
                            class="btn btn-success" data-submission-count="<%= submissionList.length %>">
                                    Download All <i class="fa fa-download" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-sm table-hover">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Institution Affiliation</th>
                            <th>Type of Data</th>
                            <th>Data From</th>
                            <th>Published?</th>
                            <th>Reference</th>
                            <th>DOI</th>
                            <th colspan="2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let submission of submissionList) { %>
                        <tr class="accordion-toggle">
                            <td><%= submission.firstName %></td>
                            <td><%= submission.lastName %></td>
                            <td><%= submission.institutionAffiliation %></td>
                            <td><%= submission.typeOfData %></td>
                            <td><%= submission.dataFrom %></td>
                            <td><%= submission.published %></td>
                            <td><%= submission.reference %></td>
                            <td><%= submission.doi %></td>
                            </td>
                            <td>
                                <a class="" data-toggle="collapse"
                                    href="#<%= 'yalin' + submission._id %>" role="button" aria-expanded="false">
                                    MetaData
                                </a>
                            </td>
                            <td>
                                <form action="download" method="POST">
                                    <input type="hidden" name="submissionId" value="<%= submission._id %>">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <tr id="<%= 'yalin' + submission._id %>" class="collapse show">
                            <td colspan="9">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-sm">
                                        <thead>
                                            <tr>
                                                <th>genus</th>
                                                <th>specificEpithet</th>
                                                <th>infraspecificEpithet</th>
                                                <th>sex</th>
                                                <th>lifeStage</th>
                                                <th>Patch</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (let metadata of metadataList.filter(md => { return md.submissionId.toString() == submission._id.toString(); } )) { %>
                                            <tr class="accordion-toggle metadata-detail pointer"  data-id="<%= metadata._id %>">
                                                <td  data-id="<%= metadata._id %>"><%= metadata.genus %></td>
                                                <td  data-id="<%= metadata._id %>"><%= metadata.specificEpithet %></td>
                                                <td  data-id="<%= metadata._id %>"><%= metadata.infraspecificEpithet %></td>
                                                <td  data-id="<%= metadata._id %>"><%= metadata.sex %></td>
                                                <td  data-id="<%= metadata._id %>"><%= metadata.lifeStage %></td>
                                                <td  data-id="<%= metadata._id %>"><%= metadata.patch %></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>

                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <% } %>

    <div class="modal" tabindex="-1" role="dialog" id="downloadModal">
        <form>
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Download Records</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success" style="display: none">
                            We have received your request!
                    </div>
                    <div id="download-form">
                            <p>Give us your email and we will send you a link containing
                                    your search result.</p>
                                    <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" name="email" required/>
                                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success" id="modalDownload">Download</button>
                </div>
              </div>
            </div>
            </form>
          </div>





    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <script>
       $(".metadata-detail td").on("click", (e)=>{
           location.href = "search-detail?id="+ $(e.target).data("id")
       });
       $("#showDownloadModal").on("click", (e) => {
            $('#downloadModal').modal('show')
       });
       $("#modalDownload").on("click", (e)=>{
            $(".alert-success").show()
            $("#download-form").hide()
            $(e.target).hide()
       })
    </script>


</body>

</html>

